@model IEnumerable<MvcMusicStore.Models.Album>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ViewBag.Title = "Search Results";}
<h2>Search Results</h2>
<table>
    <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Artist.Name</td>
            <td>@item.Title</td>
            <td>@item.Price.ToString("c2")</td>
        </tr>
    }
</table>

