
@{
    ViewData["Title"] = "Guest";
    Layout = "~/Views/Shared/BaseSite.cshtml";
}

<h1>Guest</h1>

<p>This is the guest page's main content.</p>

@*@section Footer { 
    This is the <strong>footer</strong>.
    }*@